{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="display">
        <div class="col-md-8 col-md-offset-2">
            <h4>Add a New Film</h4>
            <form action="#" method="post" enctype="multipart/form-data">
                <label for="category">Category:</label>
                <select class="form-control" name="category" id="category" required>
                    {% for category in categories %}
                    <option value="{{ category.id }}">
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Item name" required>
      			<label for="name">Description:</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Item description" ">
                <div class="form-buttons">
                    <button type="button" class="btn btn-outline-primary"> <a href="{{ url_for('default') }}"><i class="fa fa-ban fa-3x" aria-hidden="true"></i></a> </button>
                    <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-paper-plane-o fa-3x" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}