body{
	font-family: sans-serif;
	background-color: #fcfffe;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #3D5A80;
    line-height: 24px;
    font-weight: 400;
}

li {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #3D5A80;
    list-style-type: none;

}

h3 {
 	font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #020205;
    list-style-type: none;
    padding-left: 40px;
    padding-bottom: 20px;
}
button {
    background-color: #fcfffe;
}

.breadcrumb {
    background-color: #fcfffe;
}

.page-header {
    padding-bottom: 30px;
}

.form-buttons {
    padding-top: 16px;
    padding-right: 8px;
    background-color: #fcfffe;
}